In [1]:
import pandas as pd

# Load the IPL dataset
df = pd.read_csv('matches.csv')
df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,05/04/17,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,06/04/17,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,07/04/17,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,08/04/17,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,08/04/17,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
#Q1: How many matches we've got in the dataset?
total_matches = df.shape[0]
print(f"Total Matches: {total_matches}")

Total Matches: 636

In [5]:
#Q2: How many seasons we've got in the dataset?
total_seasons = df['season'].nunique()
print(f"Total Seasons: {total_seasons}")

Total Seasons: 10

In [6]:
#Q3: Which Team won by maximum runs?
max_run_win = df[df['win_by_runs'] == df['win_by_runs'].max()]
print("Team that won by maximum runs:")
print(max_run_win[['winner', 'win_by_runs']])

Team that won by maximum runs:
            winner  win_by_runs
43  Mumbai Indians          146

In [7]:
#Q4: Which Team won by maximum wickets?
max_wicket_win = df[df['win_by_wickets'] == df['win_by_wickets'].max()]
print("Team that won by maximum wickets:")
print(max_wicket_win[['winner', 'win_by_wickets']])

Team that won by maximum wickets:
                          winner  win_by_wickets
2          Kolkata Knight Riders              10
34               Kings XI Punjab              10
71               Deccan Chargers              10
119             Delhi Daredevils              10
183  Royal Challengers Bangalore              10
298             Rajasthan Royals              10
376               Mumbai Indians              10
390          Chennai Super Kings              10
542  Royal Challengers Bangalore              10
590          Sunrisers Hyderabad              10

In [8]:
#Q5: Which Team won by closest margin (minimum runs > 0)?
min_run_win = df[(df['win_by_runs'] > 0)].sort_values('win_by_runs').head(1)
print("Team that won by closest margin (min runs):")
print(min_run_win[['winner', 'win_by_runs']])

Team that won by closest margin (min runs):
              winner  win_by_runs
163  Kings XI Punjab            1

In [9]:
#Q6: Which Team won by minimum wickets > 0?
min_wicket_win = df[(df['win_by_wickets'] > 0)].sort_values('win_by_wickets').head(1)
print("Team that won by minimum wickets:")
print(min_wicket_win[['winner', 'win_by_wickets']])

Team that won by minimum wickets:
                    winner  win_by_wickets
559  Kolkata Knight Riders               1

In [10]:
#Q7: Which season had the most number of matches?
season_match_count = df['season'].value_counts().reset_index()
season_match_count.columns = ['season', 'match_count']
most_matches_season = season_match_count.iloc[0]
print("Season with most matches:")
print(most_matches_season)

Season with most matches:
season         2013
match_count      76
Name: 0, dtype: int64

In [11]:
# Q8: Which IPL team is more successful? (Most Wins)
most_successful_team = df['winner'].value_counts().reset_index()
most_successful_team.columns = ['team', 'wins']
print("Most successful IPL Team:")
print(most_successful_team.head(1))

Most successful IPL Team:
             team  wins
0  Mumbai Indians    92